* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 247);
    font-family: "Quicksand", sans-serif;
}

header {
    background-color: rgb(247, 247, 247);
}

nav {
    padding: 20px 100px;
}

.nav-con {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navdiv1 {
    display: flex;
    align-items: center;
    gap: 10px;
}

.navbar {
    display: flex;
    gap: 15px;
}

.navbar li {
    list-style: none;
}

.navbar a {
    text-decoration: none;
    font-weight: 600;
}

.navbar1 {
    color: orange;
}

.navbar2 {
    color: skyblue;
}

.navbar3 {
    color: #05D4DF;
}

.navbar4 {
    color: #5D58EF;
}
.bar{
    display: none;
}

.btn-fst, .btn-snd {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: large;
}
.hr{
    height: 1px;
    width: 100%;
    background-color: orange;
    display: none;
}

.btn-fst {
    background-color: orange;
}

.btn-snd {
    background-color: black;
    margin-top: 10px;
}

.banner {
    padding: 50px 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgb(247, 247, 247);
}

.banner-title {
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
}
.banner-content{
    width: 600px;
}

.banner-p {
    margin-bottom: 20px;
    font-size: 1.2rem;
    line-height: 1.5;
}

#emp {
    color: orange;
}

#tvi {
    color: skyblue;
}

.heroimg img {
    max-width: 100%;
    height: auto;
}
.curriculam{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
    
    height: auto;
    width: 100%;
    margin-bottom: 60px;
}
.currtitle{
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
    
}
.currcard{
    display: flex;
    margin: 80px 100px;
    justify-content: space-around;
    gap: 30px;

}
.currcard p{
    margin:10px 0px 20px 0px
}
.currcard1{

   
    border-radius: 15px;
    height: 500px;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    box-shadow: 0px  0px 1px skyblue;
    
    

    
}
#grad1 {
    background-image: linear-gradient(180deg, rgb(216, 239, 247), white);
  }
  #grad2 {
    background-image: linear-gradient(180deg, rgb(252, 237, 204), white);
  }
  #grad3 {
    background-image: linear-gradient(180deg, rgb(244, 215, 250), white);
  }
.btn-card1{
    border:none;
    color:rgb(135, 206, 235);
    font-size: 18px;
    font-weight: 800;
    background-color: transparent;
    font-family: "Quicksand", sans-serif;

        
}

.currcard2{

   
    border-radius: 15px;
    height: 500px;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    box-shadow:  0px  0px 1px orange;
    
    

    
}
.btn-card2{
    border:none;
    color:orange;
    font-size: 18px;
    font-weight: 800;
    background-color: transparent;
    font-family: "Quicksand", sans-serif;

        
}

.currcard3{

   
    border-radius: 15px;
    height: 500px;
    justify-content: center;
    text-align: center;
    padding: 100px 20px;
    box-shadow:  0px  0px 1px #8700FF;
    
    
    

    
}
.btn-card3{
    border:none;
    color:#8700FF;
    font-size: 18px;
    font-weight: 800;
    background-color: transparent;
    font-family: "Quicksand", sans-serif;

        
}
.cardtitle1{
    margin: 15px 0px;
}
.cardtitle2{
    margin: 25px 0px;
}
.cardtitle3{
    margin: 25px 0px;
}
.
.currtitle h1{
    font-weight: 800;
}

.slider1{
    background-color: orange;
    color:white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    
    
}
.slider1 h1{
    
    padding-top: 8px;
}
.slider2{
    background-color: orange;
    color:white;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    text-align: center;
    justify-content: center;
}
.slider2 h1{
    
    padding-top: 8px;
}
.slider{
    display: flex;
    gap: 20px;
    justify-content: center;
    text-align: center;
}
.storyheadline{
    justify-content: center;
    text-align: center;
    font-weight: 800;
    font-size: 2.5rem;
}
.stories{
    background-image: url("assets/bg.png");
    background-repeat: no-repeat;
   
    
    
}
.storycontent{
    margin: 80px 100px;
    
}
.va{
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    font-size: large;
    background-color: black;
    margin-left: 450px;
}
.btn-va{
    align-items: center;
    justify-content: center;
    margin-top: 40px;
    
}
.row img{
    width: 100%;
    height: auto;
   
}
.sm1{
    width: 100%;
    height: auto;
    border-radius: 20px;
}
.row{
    display: flex;
    gap:20px;
}
.bigstory{
    width: 500px;
   
}
.bigstory h2{
    padding:20px;
}
.bigstory p{
    padding:20px;
}
.squrestory{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 50%;
    gap: 5px;
    padding-left: 15px;
}
.squrestory h4{
    padding: 0px 30px 10px 30px;
}
.story1{
    background-color: white;
    border-radius: 20px;
}
.date1,.date2,.date3,.date4,.date5{
    height: 40px;
    width: 150px;
    border-radius: 20px;
    background-color: #95b226;
    position: relative;
    top: -25px;
    left: 50px;
    text-align: center;
    justify-content: center;
    color: white;
    padding-top: 8px;
}
.date1{
    background-color: skyblue;
}
.date3{
    background-color: #5d58f0;
}
.story1{
    background-color: white;
    border-radius: 20px;
    
     
    overflow: hidden; 
    position: relative;
}
.story2,.story3,.story4,.story5{
    background-color: white;
    border-radius: 20px;
    width: 250px; 
    height: auto;
     
    overflow: hidden; 
    position: relative;
}
#stgrad{
    background-image: linear-gradient(0deg, rgb(248, 237, 192), #f9f7f3);
    padding-bottom: 20px;
}
footer{
    background-color: #01acfd;
    height: auto;
    width: 100%;
    padding: 70px;
}
.footdev{
    display: flex;
    color: white;
}
.footdiv1{
    display: flex;
    align-items: center;
    gap: 10px;
    color:white;
    
}
.footbar li {
    list-style: none;
    
}

.footbar a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 200;
    margin-top: 10px;
   
}
.footdev{
    justify-content: space-around;

}
.fstfoot{
    width: 33%;
}
.footbar{

}
.icon{
    display: flex;
    gap:5px;
    padding: 10px 10px 10px 0px;
}
.ke{
    display: block;
}
.marquee{
    font-size: 2rem;
    font-weight: 800;
    padding-top: 30px;
    color: orange;
}
#mar{
    color: skyblue;
}












@media only screen and (max-width: 575px)  {
    body {
        background-color: rgb(247, 247, 247);
        color: black;
    }
    .navdiv1 h2{
        display: none;
    }
    .banner-content{
        padding: 0px 50px;
    }

    .btn-fst, .btn-snd {
        width: 100px;
        height: 40px;
    }
    .navdiv2{
        display: none;
    }
.navdiv3{
    display: none;
}
.bar img {
    max-width: 100%;
    height: auto;
}
.bar{
    display: block;
    height: 50px;
    width: 50px;
}
.hr{
    height: 1px;
    width: 100%;
    background-color: orange;
    display: block;
}

    
    .banner {
        flex-direction: column-reverse;
        align-items: center;
        text-align: center;
    }
    .currcard{
        display: flex;
        flex-direction: column;
        margin: 80px 100px;
        justify-content: space-around;
        gap: 30px;
    
    }
    .slider{
        display: none;
    }
    .bigstory{
        display: none;
    }
    .row{
        padding-left: 30px;
    }
    .squrestory{
        padding: 0%;
        margin: 0%;
    }
    .squrestory img{
        width: 100%;
        height: auto;
    }
    }
    .stories{
        align-items: center;
        justify-content: center;
    }
    .story2,.story3,.story4,.story5{
        background-color: white;
        border-radius: 20px;
        width: 230px; 
        height: auto;
         
        overflow: hidden; 
        position: relative;
    }
    .banner-content{
        width: 100vw;
    }
    .va{
        height: 50px;
        width: 150px;
        border: none;
        border-radius: 10px;
        color: white;
        cursor: pointer;
        font-size: large;
        background-color: black;
       
    }
    .storyhline h2, .storyhline h4 {
        font-size: 1rem;
    }
    .btn-va {
        margin-top: 20px;
    }

    .va {
        font-size: 1rem;
        padding: 10px 20px;
        margin-left: 210px;
    }
    .storyheadline{
        margin-bottom: 40px;
    }
    .story1{
        background-color: white;
    border-radius: 20px;
    width: 100px; 
    height: auto;
     
    overflow: hidden; 
    position: relative;
    }
    .storycontent{
        margin: 0%;
        padding: 20px 20px 20px 10px;
    }
    .footdev{
        display: flex;
        flex-direction: column;
        color: white;
        gap:30px;
    }
    .sndfoot h3{
        font-size: 25px;
    }
    .fstfoot{
        width: 100%;
    }
    .sndfoot a{
        font-size: 30px;
    }
    nav{
        padding: 20px 40px;!important
    }
    
   

}
